body {
    background-color      : #f2f2f2;
    font-family           : 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*  aumento de tamaño del h5*/

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    text-align     : center;
}

/*  RELOJ*/

.clockdate-wrapper {
    text-align: center;
}

#clock {
    font-family: sans-serif;
    font-size  : 23px;
    color      : #fff;
}

#clock span {
    font-size: 23px;
}

#date {
    font-size  : 10px;
    font-family: arial, sans-serif;
    color      : #fff;
}

.navbar-toggler-icon {
    background-image   : url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
}

.navbar-toggler {
    border-color: white;
}

a.nav-link {
    color          : white;
    text-decoration: wavy;
}

a.navbar-brand {
    color: white;
}

nav.navbar-expand-lg {
    background-color: #18181b;
    font-weight     : 600;
}

div.card img {
    width                : 30%;
    align-self           : center;
    margin-top           : 10%;
    border-radius        : 20%;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-transition   : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition        : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition           : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #071b24 !important;
    border-color    : #071b24 !important;
}

footer.page-footer {
    padding-top   : 2%;
    padding-bottom: 2%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    text-align     : center;
    text-transform : uppercase;
}

div.card {
    background           : #071b24;
    /* fallback for old browsers */
    background           : -webkit-linear-gradient(to right, #071b24, #093028, #071b24);
    /* Chrome 10-25, Safari 5.1-6 */
    background           : linear-gradient(to right, #071b24, #093028, #071b24);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-transition   : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition        : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition           : all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius        : 16px;
    overflow             : hidden;
    -webkit-box-shadow   : 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow           : 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    color                : white;
    width                : 90%;
    margin-left          : 1%;
}

.invert {
    filter: invert(100%);
}

div.col-sm-6 {
    margin-top: 2%;
}

div.col-sm-6.card3 {
    margin-top: 2%;
}

@media (min-width: 100px) and (max-width: 575px) {

    div.card,
    div.col-sm-6.card3 {
        margin-top   : 2%;
        margin-bottom: 4%;
    }
}

@media (min-width: 576px) and (max-width: 1980px) {
    div.col-sm-6.card3 {
        margin-top   : 2%;
        margin-bottom: 4%;
        margin-left  : 25%;
    }
}