body
{
    background: #093028;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #071b24, #093028);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #071b24, #093028);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

footer.page-footer {
    padding-top: 2%;
    padding-bottom: 2%;
} 
/*  RELOJ*/

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

/*  RELOJ*/



#clock {
    font-family: sans-serif;
    font-size: 23px;
    color: #fff;
    align-self: center;
    margin-right: auto;
    margin-left: auto;

}

#clock span {
    font-size: 23px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#date {
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: arial, sans-serif;
    color: #fff;
}


div.footer-copyright{
    background-color: #18181b;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar-toggler {
    border-color: white;
}

a.nav-link {
    color: white;
    text-decoration: wavy;
}

a.navbar-brand {
    color: white;
}

nav.navbar-expand-lg {
    background-color: #18181b;
    font-weight: 600;
}

h2 {
    color: white;
}

p {
    color: aliceblue;
}

/*              editar aqui */ 

div.card  {
  position: relative;
  align-content: center;
  text-align: center;
  margin-top: 5em;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.invert {
    filter: invert(100%);
}

button.btn.btn-primary {
    margin-bottom: 1em;
}

@media (min-width: 100px) and (max-width: 850px) {
    div.card {
        margin-top: 5em;
        margin-bottom: 0em;
    }
    
}