body {
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0b2b34, #040f12);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0b2b34, #040f12); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*        RESPONSIVIDAD EN CAMBIO DE FUENTES       */

@media (min-width: 800px) and (max-width: 850px) {
    div.view {
        height: 300px;
    }
}

@media (min-width: 900px) and (max-width: 3000px) {
    div.view {
        height: 800px;
    }
}

div.icono-rapido1 img{
    width: 100px; 
    height: 100px;
   
}
div.icono-rapido2 img{
    width: 100px; 
    height: 100px;
   
}
div.icono-rapido3 img{
    width: 100px; 
    height: 100px;
   
}

div.quees h1{
    color: #fff;
    text-align: center;
    font-weight: 800;
    margin-bottom: 5%;
    margin-top: 5%;
}
/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

/*     CAMBIO DE COLOR DE LOS BOTONES 	#071b24  */

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: 	#071b24 !important;
    border-color: 	#071b24 !important;
}

.btn-primary:hover {
    background-color: 	#071b24 !important;
    border-color: 	#071b24 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

div.view {
    height: 100%;
    color: white;
    background-image: url('https://raw.githubusercontent.com/iamchrm/proyecto-proxy/master/images/800.jpg')
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar-toggler {
    border-color: white;
}

a.nav-link {
    color: white;
    text-decoration: wavy;
}

a.navbar-brand {
    color: white;
}

nav.navbar-expand-lg {
    background-color: #18181b;
    font-weight: 600;
}







h2 {
    color: white;
}

p {
    color: aliceblue;
}


/* MARKETING SECTION */
.marketing .col-lg-4 {
    margin-top: 10%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }