body {
    background: #0e0e10;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0e0e10, #2a0845);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0e0e10, #2a0845);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 800px) and (max-width: 850px) {
    div.view {
        height: 300px;
    }
}

@media (min-width: 1200px) and (max-width: 3000px) {
    div.view {
        height: 800px;
    }
}

div.view {
    height: 100%;
    color: white;
    background-image: url('images/1image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white;
}

a.nav-link {
    color: white;
    text-decoration: wavy;
}

a.navbar-brand {
    color: white;
}

nav.navbar-expand-lg {
    background-color: #1b181a;
}

div.col-lg-4 img {
    margin-top: 10%;
    width: 30%;
    height: 50%;
    border-radius: 50%;
}

p.text-card {
    text-align: right;
    top: 100%;
    font-size: medium;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div.col-lg-4 img {
        margin-top: 10%;
        width: 20%;
        height: 50%;
        border-radius: 50%;
    }
}

h2 {
    color: white;
}

p {
    color: aliceblue;
}

div.primero {
    text-align: right;
}

div.segundo {
    text-align: left;
}

div.tercero {
    text-align: right;
}